*, *:after, *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: .5s ease-in-out;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    outline: none;
}
img {
    display: block;
    width: 100%;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Times New Roman';
    font-weight: normal;
    letter-spacing: 1px;
}
body {
    font-family: 'Times New Roman';
    font-size: 14px;
    line-height: 1;
    color: #373737;
    background: #f7f7f7;
}

header:after, .container:after, footer:after, .widget-posts-list li:after, #subscribe:after {
    content: "";
    display: table;
    clear: both;
}
.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
}

header {
    width: 100%;
    background: white;
    box-shadow: 3px 3px 1px rgba(0,0,0,.05);
    padding: 15px 0;
    margin-bottom: 30px;
    position: relative;
}
nav {
    width: 100%;
}
md-card {
    margin: auto;
    left: 0;
    right: 0;
    margin-bottom: 20px;
}

/* логотип */
.logo {
    display: block;
    float: left;
}
.logo span {
    color: #fd720b;
    display: inline-block;
    margin-right:20px;
    line-height: 35px;
    font-size: 23px;
    font-family: 'Arial Black';
}
.logo2 {
    color: #fd720b;
    display: none;
    text-align: center;
    margin-bottom: 30px;
    font-size: 23px;
    font-family: 'Arial Black';
}
/* меню */
#menu {
    float: left;
    width: 280px;
    display: none;

}
#menu li {
    display: inline-block;


}
#menu a {
    color: #111;
    letter-spacing: 1px;
    font-weight: 500;
    display: block;
}
#menu a:hover {
    color: #EF5A42;
}
#menu li:last-child  {
    margin-right: 0;
}
/* форма поиска */

#searchform button {
    background: transparent;
    height: 40px;
    border: none;
    float:right;
    right: 10px;
    color: #EF5A42;
    cursor: pointer;
    font-size: 28px;
    margin-right: 20px;
}
#searchform input:focus {
    outline: 2px solid #EBEBE3;
}
.nav-toggle {
    display: none;
    position: relative;
    float: left;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    background: #EF5A42;
    cursor: pointer;
}
#soccetMob{
    display:none;
}
.nav-toggle span {
    display: block;
    position: absolute;
    top: 19px;
    left: 8px;
    right: 8px;
    height: 2px;
    background: white;
}
.nav-toggle span:before, .nav-toggle span:after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 2px;
    background: white;
}
.nav-toggle span:before {
    top: -10px;
}
.nav-toggle span:after {
    bottom: -10px;
}
#menu.active {
    max-height: 1500px;
}
/*  контейнер */
.posts-list {
    margin-left: 50px;
    margin-bottom: 30px;
    width: 70%;
    float:left;
}

.product-wrapper {
    display: block;
    width: 100%;
    float: left;
    transition: width .2s;
}
.product {
    display: block;
    border: 1px solid lightgrey;
    border-radius: 3px;
    position: relative;
    background: #fff;
    margin: 0 20px 20px 0;
    text-decoration: none;
    color: #474747;
    z-index: 0;
    height: 300px;
}
.products {
    list-style: none;
    margin: 0 -20px 0 0;
    padding: 0;
}
.product-photo {
    position: relative;
    margin-top:0px;
    overflow: hidden;

}
.product-photo img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 80%;
    max-height: 80%;
    margin: 2%;
    transition: transform .4s ease-out;
}
.product:hover .product-photo img {
    transform: scale(1.05);
}
.bucket {
    background-color: #fd720b;
    border: 2px solid #EF5A42;
    border-bottom: 3px solid #EF5A42;
    position: relative;
    border-radius: 4px;
    color: white;
    padding: 7px 13px 6px 13px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 250px 2px 10px 20px;
    cursor: pointer;

}
.bucket2 {
    background-color: #FFF;
    border: 2px solid darkgrey;
    border-bottom: 3px solid darkgrey;
    position: absolute;
    border-radius: 4px;
    padding: 10px 10px 5px;
    text-align: center;
    display: inline-block;
    margin: 250px 19px 0px 5px;
    cursor: pointer;
    float:right;

}
.bucketMob {
    background-color: #fd720b;
    border: 2px solid #EF5A42;
    border-bottom: 3px solid #EF5A42;
    position: relative;
    border-radius: 4px;
    color: white;
    padding: 7px 7px 6px 7px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 25px 20px 10px 20px;
    cursor: pointer;

}
.sidebutton {
    background-color: #FFF;
    color: lightskyblue;
    font-size: 17px;
    font-family: "Tahoma";
    border: 1px solid lightgrey;
    border-bottom: 2px solid lightgrey;
    border-radius: 4px;
    text-align: center;
    display: inline-block;
    float: left;
    width: 100%;
    min-width:190px;
    margin: 10px 20px 0px 0px;
    cursor: pointer;
    padding: 10px 10px 10px 15px;

}
.sidebuttonMob {
    background-color: #fd720b;
    color: #FFF;
    font-size: 17px;
    font-family: "Tahoma";
    font-weight: bold;
    border: 1px solid #F8B763;
    border-bottom: 2px solid #F8B763;
    border-radius: 4px;
    text-align: center;
    display: none;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 10px 19% ;

}
.sidebuttonMob2 {
    background-color: lightgrey;
    color: #000;
    font-size: 17px;
    font-family: "Tahoma";
    font-weight: bold;
    border: 1px solid darkgrey;
    border-bottom: 2px solid darkgrey;
    border-radius: 4px;
    text-align: center;
    display: none;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 10px 19% ;

}


.post {
    margin-bottom: 35px;
}
.post-content p {
    line-height: 1.5;
    padding-bottom: 1em;
}
.post-image {
    margin-bottom: 30px;
}
.post-title {
    margin-bottom: 12px;
    font-size: 26px;
}
.post-social {
    position: absolute;
    left: auto;
    top: 50%;
    right: 0;
    text-align: right;
    transform: translateY(-50%);
    padding: 0;
    font-size: 12px;
}
.post-social a {
    display: inline-block;
    margin-left: 8px;
    color: #F8B763;
    width: 25px;
    height: 25px;
    line-height: 23px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid;
}
#titlemobview{
    display: none;
}
/* левый сайдбар */
aside {
    width: 20%;
    float: left;
}
.widget {
    background: white;
    min-width:190px;
    font-size: 13px;
    margin-bottom: 30px;
    box-shadow: 3px 3px 1px rgba(0,0,0,.05);
}
.widgetMob {
    background: white;
    min-width:190px;
    font-size: 13px;
    margin-bottom: 30px;
    box-shadow: 3px 3px 1px rgba(0,0,0,.05);
    display: none;
    border: 1px solid lightgrey;
    border-radius: 5px ;
}
.widget-title {
    font-size: 17px;
    font-family: 'Arial Black';
    color: #FFF;
    padding: 10px 10px 10px 16px;
    margin-bottom: 5px;
    margin-top: 0px;
    border: 2px solid #fd720b;
    border-radius: 5px 5px 0 0;
    background: #fd720b;
}
.widget-category-list li {
    border-bottom: 1px solid #fd720b;
    padding: 10px 20px;
    color: #c6c6c6;
    font-style: italic;
}
.widget-category-list li:last-child {
    border-bottom: none;
}
.widget-category-list li a {
    color: #000000;
    margin-right: 6px;
    font-style: normal;
    font-size: 15px;
}
.widget-category-list li a:after {
    content: "\f105";
    color: #fd720b;
    display: inline-block;
    float:right;
    font-family: 'FontAwesome';
    font-size: 15px;
    font-weight: bold;
    margin-right: -15px;
}
.widget-posts-list li {
    border-top: 1px solid #EBEBE3;
    padding: 15px 0;
}
.widget-posts-list li:nth-child(1){
    border-top: none;
}
.post-image-small {
    width: 70%;
    float: left;
    margin-right: 15px;
}
.widget-post-title {
    float: right;
}

footer {
    padding: 30px 0;
    background: #dfe4e8;
    color: black;
}
.footer-style{
    font-family: "Tahoma";
    font-size: 15px;
    margin-bottom: 15px;
}
.footer-style-fot{
    font-family: "Tahoma";
    padding-top:30px;
    margin-bottom: 0px;
    font-size:12px;
}
.footer-style-title{
    font-family: "Tahoma";
    font-size: 20px;
    margin-bottom: 25px;
}
.footer-col {
    width: 33.3333333333%;
    float: left;
}
.footer-col a {
    color: black;
}
.footer-col:last-child {
    text-align: right;
}

.social-bar-wrap a {
    padding-right: 10px;
    font-size: 38px;
    color: #474747;
}
@media (max-width: 999px){
    #soccet{
        display:none;
    }
    #infofot{
        display:none;
    }
}
@media (max-width: 365px){
    #searchform{
        display:none;
    }
}

@media (max-width: 840px) {
    .nav-toggle {
        display: block;
    }
    #titlemobview{
        display:inline;
    }
    header {
        padding: 10px 0;
    }
    #menu {
        display: block;
        background: white;
        max-height: 0;
        float: left;
        position: absolute;
        overflow: hidden;
        top: 63px;
        right: 270px;
        left: 0;
        margin: 0;
        padding: 0;
        z-index: 3;
    }
    #hinfo1, #hinfo2, .logo span, .widget, #infofot2, #infofot3,.products,#titlecontent,#desktopview{
        display: none;
    }
    .widgetMob{
        display:block;
    }
    #soccetMob{
        display: block;
        text-align: center;

    }
    #moblist{
        display:block;
    }
    .sidebuttonMob{
        display: inline-block;
    }
    .sidebuttonMob2{
        display: inline-block;
    }
    .logo2{
        text-align: center;
        display: block;
    }
    #menu li {
        display: block;
        padding-left: 15px;
        border-bottom: 1px solid #EBEBE3;
        margin-right: 0;
    }
    .posts-list, aside {
        width: 100%;
        float: none;
        margin: 0px;
    }
    .widget-post-title {
        font-size: 1.5em;
    }
}
@media (max-width: 480px) {
    nav {
        text-align: center;
    }
    .logo {
        float: none;
        margin-bottom: 15px;
    }
    #menu {
        top: 118px;
    }
    .post-footer {
        border-top: none;
        border-bottom: none;
        text-align: center;
    }
    .post-social {
        position: static;
        text-align: center;
        transform: none;
        margin-top: 20px;
    }
    .widget-post-title {
        font-size: 1.2em;
    }
    .footer-col {
        float: none;
        margin-bottom: 20px;
        width: 100%;
        text-align: center;
    }
    .footer-col:last-child {
        text-align: center;
        margin-bottom: 0;
    }
}

@media (max-width: 685px){
    .sidebuttonMob{
        width:100%;
    }
    .sidebuttonMob2{
         width:100%;
    }
}


@media only screen and (min-width: 517px) {
    .product-wrapper {
        width: 50%;
    }
}

@media only screen and (min-width: 986px) {
    .product-wrapper {
        width: 33.333%;
    }
}

@media only screen and (min-width: 1269px) {
    .product-wrapper {
        width: 25%;
    }
}